<div>
  <div>
    <h1>
      List of all companies
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new company
    </h2>

    <form action="/insert_company" method="post">
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <div>
        <label for="applications_count_box">
          Applications count
        </label>

        <input type="text" id="applications_count_box" name="query_applications_count">
      </div>

      <button>
        Create company
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table>
      <tr>
        <th>
          ID
        </th>

        <th>
          Name
        </th>

        <th>
          Applications count
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_companies.each do |a_company| %>
      <tr>
        <td>
          <%= a_company.id %>
        </td>

        <td>
          <%= a_company.name %>
        </td>

        <td>
          <%= a_company.applications_count %>
        </td>

        <td>
          <%= time_ago_in_words(a_company.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_company.updated_at) %> ago
        </td>

        <td>
          <a href="/companies/<%= a_company.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
